<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				<h1 class="page-title">Latest articles</h1>
				{{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
				{{ $visiblePages := where $pages "Params.hidden" "ne" true }}
				{{ $paginator := .Paginate ($visiblePages.ByDate.Reverse) }}
				{{ range $index, $page := $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h1>
					<time>{{ dateFormat "Jan 2, 2006" $page.Date }}{{ if $page.Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					{{ if eq $index 0 }}
					<div>
						{{ $page.Content }}
					</div>
					{{ else }}
					<br>{{ template "partials/pagedescription.html" $page }}
					<a class="readmore" href="{{ $page.RelPermalink }}">Read more ⟶</a>
					{{ end }}
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
